<div class="row pt-30">
  <h3 class="center-align"><i class="fa fa-file-text app-icon" aria-hidden="true"></i> New Application</h3>
</div>

<%= form_tag "/users/#{@user.id}/applications", method: :post do %>
  <div class="row pt-10">
    <div>
      <h5 class="center-align form-headline">Application Information</h5>
    </div>
    <div class="col s12 m8 offset-m2 lt-grey-bg">
      <div class="input-field">
        <input id="company" type="text" value="<%= @application.company %>">
        <label class="active" for="company">Company</label>
      </div>
      <div class="input-field">
        <input id="job_title" type="text" value="<%= @application.job_title %>">
        <label class="active" for="job_title">Job Title</label>
      </div>
      <div class="input-field">
        <textarea id="notes" class="materialize-textarea" value="<%= @application.notes %>"></textarea>
        <label class="active" for="notes">Notes</label>
      </div>
    </div>
  </div>
  <div class="row pt-10">
    <div>
      <h5 class="center-align form-headline">Submission Information</h5>
    </div>
    <div class="col s12 m8 offset-m2 lt-grey-bg">
      <div class="input-field">
        <input id="last_action" type="date" class="datepicker">
        <label class="active" for="last_action" value="<%= @date %>">Application Submitted On</label>
      </div>
      <div class="input-field">
        <textarea id="invite_notes" class="materialize-textarea" value="<%= @application.submission.notes %>"></textarea>
        <label class="active" for="invite_notes">Submission Notes</label>
      </div>
  </div>
  </div>
  <div class="row right-align pt-10">
    <div class="col s12 m8 offset-m2">
      <button class="btn submit-btn-app" type="submit" name="action">Submit</button>
    </div>
  </div>
<% end %>

<script>
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
</script>
