<div class="row">
  <h1>Edit Lead</h1>
</div>
<div class="row">
  <%= form_tag "/users/#{@user.id}/leads/#{@lead.id}", method: :patch do %>
    <div class="row">
      <div class="input-field col s12 m6 l6">
        <%= text_field_tag :name, @lead.name %>
        <%= label_tag :name, "Name: ", class: "active" %>
      </div>
      <div class="input-field col s12 m6 l6">
        <%= text_field_tag :job_title, @lead.job_title %>
        <%= label_tag :job_title, "Job Title: ", class: "active" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m6 l6">
        <%= text_field_tag :company, @lead.company %>
        <%= label_tag :company, "Company: ", class: "active" %>
      </div>
      <div class="input-field col s12 m6 l6">
        <%= text_field_tag :email_address, @lead.email_address %>
        <%= label_tag :email_address, "Email: ", class: "active" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m6 offset-m3 l6 offset-l3">
        <%= text_field_tag :phone, @lead.phone %>
        <%= label_tag :phone, "Phone: ", class: "active" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= text_field_tag :notes, @lead.notes %>
        <%= label_tag :notes, "Lead Notes: ", class: "active" %>
      </div>
    </div>
    <div class="row right-align">
      <div>
        <button class="btn waves-effect waves-light" type="submit">Submit</button>
      </div>
    </div>
  <% end %>
</div>
