<h1>Edit Lead</h1>
<%= form_tag "/users/#{@user.id}/leads/#{@lead.id}", method: :patch do %>
  <div>
    <%= label_tag :name, "Name: " %>
    <%= text_field_tag :name, @lead.name %>
  </div>
  <div>
    <%= label_tag :job_title, "Job Title: " %>
    <%= text_field_tag :job_title, @lead.job_title %>
  </div>
  <div>
    <%= label_tag :company, "Company: " %>
    <%= text_field_tag :company, @lead.company %>
  </div>
  <div>
    <%= label_tag :email_address, "Email: " %>
    <%= text_field_tag :email_address, @lead.email_address %>
  </div>
  <div>
    <%= label_tag :phone, "Phone: " %>
    <%= text_field_tag :phone, @lead.phone %>
  </div>
  <div>
    <%= label_tag :notes, "Lead Notes: " %>
    <%= text_field_tag :notes, @lead.notes %>
  </div>
  <div>
    <%= submit_tag "Save Changes" %>
  </div>
<% end %>
