<div class="row pt-30">
  <h3 class="center-align"><i class="fa fa-user-circle lead-icon" aria-hidden="true"></i> New Lead</h3>
</div>

<%= form_tag "/users/#{@user.id}/leads", method: :post do %>
  <div class="row pt-10">
    <div>
      <h5 class="center-align form-headline">Lead Information</h5>
    </div>
    <div class="col s12 m8 offset-m2 lt-grey-bg">
      <div class="input-field">
        <input id="name" type="text" value="<%= @lead.name %>">
        <label class="active" for="name">Name</label>
      </div>
      <div class="input-field">
        <input id="job_title" type="text" value="<%= @lead.job_title %>">
        <label class="active" for="job_title">Job Title</label>
      </div>
      <div class="input-field">
        <input id="company" type="text" value="<%= @lead.company %>">
        <label class="active" for="company">Company</label>
      </div>
      <div class="input-field">
        <input id="email_address" type="text" value="<%= @lead.email_address %>">
        <label class="active" for="email_address">Email Address</label>
      </div>
      <div class="input-field">
        <input id="phone" type="text" value="<%= @lead.phone %>">
        <label class="active" for="phone">Phone Number</label>
      </div>
      <div class="input-field">
        <textarea id="notes" class="materialize-textarea" value="<%= @lead.notes %>"></textarea>
        <label class="active" for="notes">Notes</label>
      </div>
    </div>
  </div>
  <div class="row pt-10">
    <div>
      <h5 class="center-align form-headline">Connection Information</h5>
    </div>
    <div class="col s12 m8 offset-m2 lt-grey-bg">
      <div class="input-field">
        <input id="last_action" type="date" class="datepicker">
        <label class="active" for="last_action">Contact Initiated On <a class="tooltipped contact-tooltip" data-position="bottom" data-delay="30" data-tooltip="Initial contact includes LinkedIn invitation, introduction email, Meetup, etc. Please specify form of contact in the invitation notes."><i class="fa fa-question-circle" aria-hidden="true"></i></a></label>
      </div>
      <div class="input-field">
        <textarea id="invite_notes" class="materialize-textarea" value="<%= @lead.invite.notes %>"></textarea>
        <label class="active" for="invite_notes">Invitation Notes</label>
      </div>
    </div>
  </div>
  <div class="row right-align pt-10">
    <div class="col s12 m8 offset-m2">
      <button class="btn submit-btn-lead" type="submit" name="action">Submit</button>
    </div>
  </div>
<% end %>


<script>
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
</script>
