<!DOCTYPE html>
<html>
  <head>
    <title>JobTrackerPortal</title>
    <%= csrf_meta_tags %>
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <ul id="dropdown1" class="dropdown-content">
      <% if current_admin %>
        <li><%= link_to "Admin Log Out", "/admins/sign_out" %></li>
      <% elsif current_user %>
        <li><%= link_to "User Log Out", "/users/sign_out" %></li>
      <% else %>
        <li><%= link_to "Admin Sign In", "/admins/sign_in" %></li>
        <li><%= link_to "User Sign In", "/users/sign_in" %></li>
      <% end %>
    </ul>
    <nav class="primary-color-dark" role="navigation">
      <div class="nav-wrapper container" data-turbolinks="false">
        <a href="/" class="brand-logo">Job Tracker</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_user %>
            <li><a href="/users/<%= current_user.id %>/applications/new"><i class="material-icons left">assignment</i>New Application</a></li>
            <li><a href="/users/<%= current_user.id %>/leads/new"><i class="material-icons left">assignment_ind</i>New Lead</a></li>
            <li><a href="/users/<%= current_user.id %>/leads">My Dashboard</a></li>
          <% end %>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">My Account<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul id="slide-out" class="side-nav">
          <% if current_user %>
            <li><a href="/users/<%= current_user.id %>/applications/new"><i class="material-icons left">assignment</i>New Application</a></li>
            <li><a href="/users/<%= current_user.id %>/leads/new"><i class="material-icons left">assignment_ind</i>New Lead</a></li>
            <li><a href="/users/<%= current_user.id %>/leads">My Dashboard</a></li>
          <% end %>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown2">My Account<i class="material-icons right">arrow_drop_down</i></a></li>
          <ul id="dropdown2" class="dropdown-content">
            <% if current_admin %>
              <li><%= link_to "Admin Log Out", "/admins/sign_out" %></li>
            <% elsif current_user %>
              <li><%= link_to "User Log Out", "/users/sign_out" %></li>
            <% else %>
              <li><%= link_to "Admin Sign In", "/admins/sign_in" %></li>
              <li><%= link_to "User Sign In", "/users/sign_in" %></li>
            <% end %>
          </ul>
        </ul>
      </div>
    </nav>
    <main>
      <div class="container">
        <% if notice %>
          <script type="text/javascript">
            Materialize.toast('<%= notice %>', 4000, 'notice green')
          </script>
        <% end %>
        <% if alert %>
          <script type="text/javascript">
            Materialize.toast('<%= alert %>', 4000, 'alert red')
          </script>
        <% end %>
        <%= yield %>
      </div>
    </main>
    <footer class="page-footer primary-color">
      <div class="footer-copyright">
        <div class="container">
          Made by <a class="white-text" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </footer>
  </body>
</html>
