<!DOCTYPE html>
<html>
  <head>
    <title>JobTrackerPortal</title>
    <%= csrf_meta_tags %>
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <ul id="dropdown1" class="dropdown-content">
      <% if current_admin %>
        <li><%= link_to "Admin Log Out", "/admins/sign_out", method: :delete %></li>
      <% elsif current_user %>
        <li><%= link_to "User Log Out", "/users/sign_out", method: :delete %></li>
      <% else %>
        <li><%= link_to "Admin Sign In", "/admins/sign_in" %></li>
        <li><%= link_to "User Sign In", "/users/sign_in" %></li>
      <% end %>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Job Tracker</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">My Account<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </nav>

      <section id="flash">
        <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %> fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</span><span class="sr-only">Close</span></button>
          <%= message.html_safe %>
        </div>
        <% end %>
      </section>
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
