<!DOCTYPE html>
<html>
  <head>
    <title>JobTrackerPortal</title>
    <%= csrf_meta_tags %>
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <nav>
      <div class="nav-wrapper container">
        <a href="/"><img class="logo-img" src="<%= image_path('actualize_icon.png') %>"></a><a href="/" class="brand-logo">Job Tracker</a>
        <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
        <% if current_user %>
          <ul class="right hide-on-med-and-down">
            <li><a href="/users/<%= current_user.id %>/leads/new" class="lead"><i class="fa fa-plus-circle icon lead" aria-hidden="true"></i>Lead</a></li>
            <li><a href="/users/<%= current_user.id %>/applications/new" class="app"><i class="fa fa-plus-circle icon app" aria-hidden="true"></i>Application</a></li>
            <li><a href="/users/<%= current_user.id %>/dashboard"><i class="fa fa-th icon" aria-hidden="true"></i>Dashboard</a></li>
            <li><%= link_to "Log Out", "/users/sign_out" %></li>
          </ul>
          <ul class="side-nav" id="mobile-nav">
            <li><a href="/users/<%= current_user.id %>/leads/new" class="lead"><i class="fa fa-plus-circle icon lead" aria-hidden="true"></i>Lead</a></li>
            <li><a href="/users/<%= current_user.id %>/applications/new" class="app"><i class="fa fa-plus-circle icon app" aria-hidden="true"></i>Application</a></li>
            <li><a href="/users/<%= current_user.id %>/dashboard"><i class="fa fa-th icon" aria-hidden="true"></i>Dashboard</a></li>
            <li><%= link_to "Log Out", "/users/sign_out" %></li>
          </ul>
          <% elsif current_admin %>
            <ul class="right hide-on-med-and-down">
              <li><%= link_to "Log Out", "/admins/sign_out" %></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><%= link_to "Log Out", "/admins/sign_out" %></li>
            </ul>
          <% else %>
            <ul class="right hide-on-med-and-down">
              <li><%= link_to "Admin Sign In", "/admins/sign_in" %></li>
              <li><%= link_to "User Sign In", "/users/sign_in" %></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><%= link_to "Admin Sign In", "/admins/sign_in" %></li>
              <li><%= link_to "User Sign In", "/users/sign_in" %></li>
            </ul>
        <% end %>
      </div>
    </nav>
    <main>
      <div class="container">
        <% if notice %>
          <script type="text/javascript">
            Materialize.toast('<%= notice %>', 4000, 'notice green')
          </script>
        <% end %>
        <% if alert %>
          <script type="text/javascript">
            Materialize.toast('<%= alert %>', 4000, 'alert red')
          </script>
        <% end %>
        <%= yield %>
      </div>
    </main>
    <footer class="page-footer primary-color">
      <div class="footer-copyright">
        <div class="container center-align">
        <i class="fa fa-copyright icon" aria-hidden="true"></i><a class="footer-link" href="http://anyonecanlearntocode.com">Actualize</a>
        </div>
      </div>
    </footer>
  </body>
</html>
